footer {
    background-color: #303030;
    color: var(--c-white);
    margin-top: 100px;
    padding: 20px 0;

    .logo{
        max-width: 120px;
        width: 100%;
    }


    .footer-topbar {
        border-bottom: 1px solid var(--c-secondary);
        margin-bottom: 60px;
        padding-bottom: 20px;

        .row {
            align-items: center;
        }


        .social {
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    margin-right: 20px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: var(--c-white);
                    }
                }
            }
        }
    }
    
    .menu-item {
        @include breakpoint($md, down){
            margin-bottom: 40px;
        }

        h5 {
            font-weight: bold;
            margin-bottom: 12px;
            font-size: 18px;
            color: var(--c-white);
        }


        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                margin-bottom: 12px;
                a {
                    text-decoration: none;
                    color: #C0C0C0;
                    display: inline-block;
                }
            }
        }
    }



    .newsletter{
        h5 {
            font-size: 18px;
            margin-bottom: 12px;
            font-weight: bold;
            color: var(--c-white);
        }

        p {
            color: #C0C0C0;
        }

        .form-control{
            background-color: #262626;
            color: var(--c-gray);
            border: none;
            padding: 14px 20px;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            &:focus {
                outline: none;
                box-shadow: none;
            }


            &::placeholder {
            color: var(--c-gray);
            }
        }

        button {
            @include button;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .inner{
            display: flex;

        }
    }
    
    /* bottom */

    .bottom {
        padding-top: 20px;
        margin-top: 60px;
        border-top: 1px solid var(--c-secondary);
        display: flex;
        justify-content: center;
        text-align: center; 
    }
} 